<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AssaultFighter1</key>
	<dict>
		<key>BodyComponent</key>
		<dict>
			<key>size</key>
			<string>{29, 37}</string>
			<key>density</key>
			<integer>5</integer>
			<key>friction</key>
			<real>0.4</real>
			<key>restitution</key>
			<real>0.8</real>
			<key>linearDampening</key>
			<real>0.1</real>
			<key>angularDampening</key>
			<real>2</real>
		</dict>
		<key>VehicleComponent</key>
		<dict>
			<key>angularSlowingDistance</key>
			<integer>2</integer>
			<key>linearSlowingDistance</key>
			<integer>10</integer>
			<key>maxAngularVelocity</key>
			<integer>20</integer>
			<key>maxLinearVelocity</key>
			<integer>13</integer>
			<key>maxTorque</key>
			<integer>120</integer>
			<key>maxForce</key>
			<integer>300</integer>
			<key>thrustVectorEfficiency</key>
			<real>1</real>
		</dict>
		<key>SpriteComponent</key>
		<dict>
			<key>spriteFrameName</key>
			<string>AssaultFighter1.png</string>
		</dict>
		<key>ContrailComponent</key>
		<dict>
			<key>offset</key>
			<string>{-13, 0}</string>
			<key>width</key>
			<integer>3</integer>
			<key>baseColorR</key>
			<integer>255</integer>
			<key>baseColorG</key>
			<integer>255</integer>
			<key>baseColorB</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>HeavyCruiser2</key>
	<dict>
		<key>BodyComponent</key>
		<dict>
			<key>size</key>
			<string>{56, 55}</string>
			<key>density</key>
			<integer>20</integer>
			<key>friction</key>
			<real>0.4</real>
			<key>restitution</key>
			<real>0.8</real>
			<key>linearDampening</key>
			<real>0.1</real>
			<key>angularDampening</key>
			<real>2</real>
		</dict>
		<key>VehicleComponent</key>
		<dict>
			<key>angularSlowingDistance</key>
			<integer>3</integer>
			<key>linearSlowingDistance</key>
			<integer>5</integer>
			<key>maxAngularVelocity</key>
			<integer>15</integer>
			<key>maxLinearVelocity</key>
			<integer>20</integer>
			<key>maxTorque</key>
			<integer>600</integer>
			<key>maxForce</key>
			<integer>900</integer>
			<key>thrustVectorEfficiency</key>
			<integer>0</integer>
		</dict>
		<key>SpriteComponent</key>
		<dict>
			<key>spriteFrameName</key>
			<string>HeavyCruiser2.png</string>
		</dict>
		<key>ContrailComponent</key>
		<dict>
			<key>offset</key>
			<string>{-25, 0}</string>
			<key>width</key>
			<integer>5</integer>
			<key>baseColorR</key>
			<integer>255</integer>
			<key>baseColorG</key>
			<integer>0</integer>
			<key>baseColorB</key>
			<integer>0</integer>
		</dict>
	</dict>
</dict>
</plist>
