<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AssaultFighter1</key>
	<dict>
		<key>ContrailColorR</key>
		<integer>255</integer>
		<key>ContrailColorG</key>
		<integer>255</integer>
		<key>ContrailColorB</key>
		<integer>0</integer>
		<key>ContrailWidth</key>
		<real>3</real>
		<key>SpriteFrameName</key>
		<string>AssaultFighter1.png</string>
		<key>Density</key>
		<integer>5</integer>
		<key>Friction</key>
		<real>0.4</real>
		<key>Restitution</key>
		<real>0.8</real>
		<key>AngularDampening</key>
		<real>2</real>
		<key>AngularSlowingDistance</key>
		<integer>2</integer>
		<key>LinearDampening</key>
		<real>0.1</real>
		<key>LinearSlowingDistance</key>
		<integer>10</integer>
		<key>MaxAngularVelocity</key>
		<integer>20</integer>
		<key>MaxTorque</key>
		<integer>120</integer>
		<key>MaxLinearVelocity</key>
		<integer>13</integer>
		<key>MaxForce</key>
		<integer>300</integer>
		<key>TVCEfficiency</key>
		<string>1.0</string>
	</dict>
	<key>HeavyCruiser2</key>
	<dict>
		<key>ContrailColorR</key>
		<integer>255</integer>
		<key>ContrailColorG</key>
		<integer>0</integer>
		<key>ContrailColorB</key>
		<integer>0</integer>
		<key>ContrailWidth</key>
		<real>5</real>
		<key>SpriteFrameName</key>
		<string>HeavyCruiser2.png</string>
		<key>Density</key>
		<integer>20</integer>
		<key>Friction</key>
		<real>0.4</real>
		<key>Restitution</key>
		<real>0.1</real>
		<key>AngularDampening</key>
		<integer>2</integer>
		<key>AngularSlowingDistance</key>
		<real>3</real>
		<key>LinearDampening</key>
		<real>0.1</real>
		<key>LinearSlowingDistance</key>
		<integer>5</integer>
		<key>MaxAngularVelocity</key>
		<integer>15</integer>
		<key>MaxTorque</key>
		<integer>600</integer>
		<key>MaxLinearVelocity</key>
		<integer>20</integer>
		<key>MaxForce</key>
		<integer>900</integer>
		<key>TVCEfficiency</key>
		<string>0.0</string>
	</dict>
</dict>
</plist>
